body{
    margin:0;
    font-family: 'Permanent Marker', cursive;

}
.header{
    align-items:center;
    background-color:#4788EF;
    display:flex;
    height:70px;
    flex-wrap:wrap;
    justify-content:space-between;
}
.menu{
    height:inherit;
}
.menu ol {
    list-style: none;
    display:flex;
    height:inherit;
    justify-content:space-between;
    padding:0;
    margin:0;
    width:150px;
}
.menu ol li {
    height:inherit;
}
.menu ol li a {
    align-items:center;
    color:white;
    display:flex;
    height:inherit;
    padding:0 10px;
    text-decoration: none;
}
.menu ol li a:hover {
    background-color:white;
    color:darkblue;
}
.logo{
    color:white;
}
.principal{
    align-items:center;
    height:80vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    position:relative;
}
.operators {
    align-items: center;
    /* border:1px solid red; */
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    /* width:100%; */
}
.operations{
    /* border:1px solid red; */
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    /* width:100%; */
    padding: 40px 20px;

}
.numberBox{
    border:1px solid gray;
    border-radius:20px;
    font-size:80px;
    width:140px;
    height:100px;
    outline:none;
}
.notation{
    /* transform: rotate(-90deg) translate(0px,-400px); */
    position:absolute;
    top: 330px;
    left: 350px;
    transform: rotate(-90deg);

}
button{
    padding:10px;
    margin-right:10px;
    border-radius:15px; 
}
.container{
    align-items:inherit;
    display:inherit;
    justify-content:inherit;
    height:inherit;
    margin:0 auto;
    max-width:1000px;
    flex:1;
}
.content{
    max-width:1000px;
    flex:1;    
}

@media screen and (max-width:1023px){
    
}
@media screen and (max-width:767px){
    .header{

    }
    .notation{
        top:60%;
        left:15%;
    }
    .operators{
        width:100%;
    }    
}
@media screen and (max-width:480px){
 .notation{
     left:-5%;
 }   
}
@media screen and (max-width:320px){
    .header{
        display:block;
        height:auto;
        width:100%;
    }
    .header .menu ol{
        display:block;  
    }
    .operators{
        /* width:80%; */
    }
    .operations{
        /* width:80%; */
    }
    .logo{
        padding-top:10px;
        text-align:center;
    }
    .menu{
        justify-content: center;
    }
    .menu ol {
        width:100%;
    }
    .menu ol li a {
        border-bottom:white 1px solid;
        height:40px;
        justify-content:center;
    }
    button{
        margin-right:10px;
        margin-bottom:10px;

    }
    .notation{
        left:-11%;
        top:70%;
    }
    .numberBox{
        margin-bottom:10px;
    }

}